/** Inter Google Fonts  **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
body{
    background-color: #f3f5fc;
    font-family: 'Inter', sans-serif;
}
.contenedor{
    margin: 16px;
    display: grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;
}
header{
    grid-area: header;
}
header img{
    position: absolute;
    left: -20px;
}
.alerta{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 20%;
    text-align: center;
    display: none;
}
.alerta.exito{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    display: block;
}
.alerta.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: block;
}
main{
    grid-area: main;
}
form p {
    display: flex;
    align-items: center;
}
form p i {
    color: #67808E;
}
textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    max-width: 768px;
    color: #0A3871;
    width: 100%;
    background-color: #f3f5fc;
    border: none;
}
.acciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}
#boton-encriptar{
    margin: 20px 0px;
    padding: 24px 0px;
    color: #FFFFFF;
    width: 100%;
    max-width:  332px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
#boton-encriptar:hover{
    background: #AAB2D5;
    border: 1px solid #0A3871;
    color: #000000;
}
#boton-desencriptar{
    padding: 24px 0px;
    margin: 20px 0px;
    border: 1px solid #0A3871;  
    color: #0A3871;
    width: 100%;
    max-width: 332px;
    background-color: #f3f5fc;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;

}
#boton-desencriptar:hover{
    background: #AAB2D5;
    border: 1px solid #0A3871;
    color: #000000;
}
#boton-desencriptar:disabled{
    cursor: default;
    opacity: 0.2;
}
.resultado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    margin: 30px 0;
    background: #FFFFFF;
    box-shadow: 10px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.resultado img {
    display: none;
}
.resultado h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}
.resultado p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.resultado p.encriptado{
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #0A3871;
}
#boton-copiar{
    margin: 20px 0px;
    padding: 24px 0px;
    border: 1px solid #0A3871;
    color: #0A3871;
    width: 100%;
    background-color: #f3f5fc;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
#boton-copiar:hover{
    background: #AAB2D5;
    border: 1px solid #0A3871;
    color: #000000;
}
.resultado .ocultar{
    display: none;
}
.resultado input .mostrar{
    display: inline;
}
footer{
    background-color: #0A3871;
    color: #FFFFFF;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 9fr 1fr;
    }
    textarea {
        height: 50vh;
        color: aqua;
    }

    form{
        width: 100%;
    }
    .textarea{
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 1440px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    }
    textarea {
        height: 65vh;
        color: #0A3871;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    main{
        display: flex;
        justify-content: space-between;
    }
    .textarea{
        width: 100%;
    }
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 30%;
}
.resultado img{
    display: block;
}
.acciones{
    width: 100%;
}
#boton-desencriptar{
    max-width: 338px;
}
#boton-encriptar{
    max-width: 338px;
}
}